In [1]:
import numpy as np
import pandas as pd

In [2]:
train_df = pd.read_csv('train.csv')

In [3]:
train_df.head()

,Unnamed: 0,date,org,tld,ccs,bcced,mail_type,images,urls,salutations,designation,chars_in_subject,chars_in_body,label
0,0,"Mon, 6 Nov 2017 11:13:45 +0100",reply,ebay.in,0,0,multipart/alternative,35,120,0,0,49.0,80027,2
1,1,"Wed, 14 Feb 2018 11:00:16 -0000",edm,efinmail.com,0,0,multipart/alternative,1,7,0,0,107.0,2961,1
2,2,"Wed, 6 Jul 2016 19:53:37 +0000",usebackpack,com,0,0,text/html,4,17,0,0,35.0,25149,1
3,3,"Fri, 11 Oct 2019 11:25:40 +0200",granular,ai,0,0,multipart/mixed,0,0,0,0,15.0,635296,1
4,4,"Tue, 07 Nov 2017 11:07:18 +0000 (UTC)",github,com,1,0,multipart/alternative,2,11,0,0,49.0,2355,1

In [4]:
train_df.isna().sum()

Unnamed: 0             0
date                   0
org                 3451
tld                 3453
ccs                    0
bcced                  0
mail_type            172
images                 0
urls                   0
salutations            0
designation            0
chars_in_subject      16
chars_in_body          0
label                  0
dtype: int64

In [5]:
def data_cleaner (df, chars_in_subject = train_df['chars_in_subject'].median() ):
    
    df['org'] = df['org'].fillna('org_undefinded')
    df['tld'] = df['tld'].fillna('tld_undefinded')
    df['mail_type'] = df['mail_type'].fillna('mail_type_undefinded').apply(lambda x:x.lower())
    df['chars_in_subject'] = df['chars_in_subject'].fillna(chars_in_subject)
    df.drop(['Unnamed: 0', 'date'],axis= 1, inplace=True)
    df['chars_in_subject'] = df['chars_in_subject'].astype(int)
    df['chars_in_body'] = df['chars_in_body'].astype(int)
    return (df)
def invert_str(x):
    return(x[::-1])

In [6]:
# One hot encoding the mail_type
def ohe_mail_type (df):
    unique_mail_types = df['mail_type'].apply(lambda x: x.split('/')).explode().unique()
    for mt in unique_mail_types:
        df[f'mail_type_{mt}'] = df['mail_type'].apply(lambda x: 1 if mt in x else 0)
    df.drop('mail_type',axis =1,inplace = True)
    return(df)

In [7]:
# Splitting tld
def tld_split(df):
    df['tld'].apply(lambda x:x.split('.')[0]).unique()
    df['tld_back'] = df['tld'].apply(lambda x: 'undefined_tld_back' if '.' not in x else invert_str(invert_str(x).split('.')[0].lower()))
    df['tld_front'] = df['tld'].apply(lambda x: 'undefined_tld_front' if '.' not in x else x.split('.')[0].lower())
    df.drop(['tld'], axis = 1, inplace = True)
    top_10_tld_back = pd.DataFrame(df[['tld_back']].groupby('tld_back').size()).sort_values(0,ascending=False).head(20).index.tolist()
    df['tld_back'] = df['tld_back'].apply(lambda x: x if x in top_10_tld_back else 'tld_back_Uncommon')
    for bk in df['tld_back'].unique().tolist():
        df[f'tld_back_{bk}'] = df['tld_back'].apply(lambda x: 1 if x == bk else 0 )
    df.drop(['tld_back'], axis = 1, inplace = True)
    return(df)

In [8]:
train_df = data_cleaner(train_df)
train_df = ohe_mail_type(train_df)
train_df = tld_split(train_df)

In [9]:
train_df.head(20)

,org,ccs,bcced,images,urls,salutations,designation,chars_in_subject,chars_in_body,label,...,tld_back_co,tld_back_int,tld_back_edu,tld_back_uk,tld_back_sa,tld_back_so,tld_back_net,tld_back_au,tld_back_jp,tld_back_io
0,reply,0,0,35,120,0,0,49,80027,2,...,0,0,0,0,0,0,0,0,0,0
1,edm,0,0,1,7,0,0,107,2961,1,...,0,0,0,0,0,0,0,0,0,0
2,usebackpack,0,0,4,17,0,0,35,25149,1,...,0,0,0,0,0,0,0,0,0,0
3,granular,0,0,0,0,0,0,15,635296,1,...,0,0,0,0,0,0,0,0,0,0
4,github,1,0,2,11,0,0,49,2355,1,...,0,0,0,0,0,0,0,0,0,0
5,iiitd,5,0,2,14,1,0,78,8365,3,...,0,0,0,0,0,0,0,0,0,0
6,piazza,0,0,0,11,1,1,31,3357,1,...,0,0,0,0,0,0,0,0,0,0
7,in,0,0,0,4,1,1,218,15862,1,...,0,0,0,0,0,0,0,0,0,0
8,redwolf,0,0,14,39,0,0,49,8011,1,...,0,0,0,0,0,0,0,0,0,0
9,m,0,0,25,131,0,1,18,92248,1,...,0,0,0,0,0,0,0,0,0,0
10,mailer,0,0,9,59,1,0,24,43378,1,...,0,0,0,0,0,0,0,0,0,0
11,kaggle,0,0,9,136,1,1,112,117567,1,...,0,0,0,0,0,0,0,0,0,0
12,google,0,0,2,12,0,0,36,4296,1,...,0,0,0,0,0,0,0,0,0,0
13,coursera,0,0,4,27,1,0,15,20250,1,...,0,0,0,0,0,0,0,0,0,0
14,linkedin,0,0,4,41,0,0,29,30063,1,...,0,0,0,0,0,0,0,0,0,0
15,iiitd,0,1,0,0,0,0,54,1060737,1,...,0,0,0,0,0,0,0,0,0,0
16,twitter,0,0,14,62,0,1,36,37423,7,...,0,0,0,0,0,0,0,0,0,0
17,iiitd,2,0,0,241,1,0,30,8435011,3,...,0,0,0,0,0,0,0,0,0,0
18,sbi,0,0,1,1,0,0,81,709,2,...,0,0,0,0,0,0,0,0,0,0
19,iiitd,0,0,0,0,0,0,0,2312248,1,...,0,0,0,0,0,0,0,0,0,0

In [10]:
# print(pd.DataFrame(df[['org']].groupby('org').size()).sort_values(0,ascending=False)[0].median())
# pd.DataFrame(df[['org']].groupby('org').size()).sort_values(0,ascending=False).head(50)

train_df.dtypes

org                               object
ccs                                int64
bcced                              int64
images                             int64
urls                               int64
salutations                        int64
designation                        int64
chars_in_subject                   int32
chars_in_body                      int32
label                              int64
mail_type_multipart                int64
mail_type_alternative              int64
mail_type_text                     int64
mail_type_html                     int64
mail_type_mixed                    int64
mail_type_related                  int64
mail_type_plain                    int64
mail_type_mail_type_undefinded     int64
mail_type_html                     int64
mail_type_signed                   int64
mail_type_report                   int64
mail_type_calendar                 int64
mail_type_idm                      int64
tld_front                         object
tld_back_in                        int64
tld_back_com                       int64
tld_back_undefined_tld_back        int64
tld_back_org                       int64
tld_back_me                        int64
tld_back_my                        int64
tld_back_info                      int64
tld_back_fr                        int64
tld_back_tld_back_Uncommon         int64
tld_back_de                        int64
tld_back_news                      int64
tld_back_co                        int64
tld_back_int                       int64
tld_back_edu                       int64
tld_back_uk                        int64
tld_back_sa                        int64
tld_back_so                        int64
tld_back_net                       int64
tld_back_au                        int64
tld_back_jp                        int64
tld_back_io                        int64
dtype: object

In [11]:
train_df.head()

,org,ccs,bcced,images,urls,salutations,designation,chars_in_subject,chars_in_body,label,...,tld_back_co,tld_back_int,tld_back_edu,tld_back_uk,tld_back_sa,tld_back_so,tld_back_net,tld_back_au,tld_back_jp,tld_back_io
0,reply,0,0,35,120,0,0,49,80027,2,...,0,0,0,0,0,0,0,0,0,0
1,edm,0,0,1,7,0,0,107,2961,1,...,0,0,0,0,0,0,0,0,0,0
2,usebackpack,0,0,4,17,0,0,35,25149,1,...,0,0,0,0,0,0,0,0,0,0
3,granular,0,0,0,0,0,0,15,635296,1,...,0,0,0,0,0,0,0,0,0,0
4,github,1,0,2,11,0,0,49,2355,1,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
from sklearn import preprocessing

In [ ]:
le_org = preprocessing.LabelEncoder()
train_df['org'] = le_org.fit_transform(train_df['org'])

In [ ]:
le_tldfront = preprocessing.LabelEncoder()
train_df['tld_front'] = le_tldfront.fit_transform(train_df['tld_front'])

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    train_df.drop('label',axis = 1), train_df['label'], test_size=0.05, random_state=42)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
clf = RandomForestClassifier(n_estimators=500,
                             max_depth=700, 
                             random_state=0, 
                             criterion='gini')

In [ ]:
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import StandardScaler , LabelEncoder, MinMaxScaler
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from scipy.stats import mode



clf.fit(X_train, y_train)
pred = clf.predict(X_test)
print(f'Acuracy of the random forest: {accuracy_score(y_test, pred)}')

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(X_train, y_train)
pred = neigh.predict(X_test)
print(f'Acuracy of the KNN3: {accuracy_score(y_test, pred)}')

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=4)
neigh.fit(X_train, y_train)
pred = neigh.predict(X_test)
print(f'Acuracy of the KNN4:{accuracy_score(y_test, pred)}')

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=5)
neigh.fit(X_train, y_train)
pred = neigh.predict(X_test)
print(f'Acuracy of the KNN5:{accuracy_score(y_test, pred)}')

In [ ]:
from sklearn import svm, datasets
from sklearn.model_selection import GridSearchCV
iris = datasets.load_iris()
parameters = {'n_neighbors':list(range(3,5))}
neigh = KNeighborsClassifier()
clf = GridSearchCV(neigh, parameters)
clf.fit(X_train, y_train)
clf.best_params_

sorted(clf.cv_results_.keys())

In [ ]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
pred = clf.predict(X_test)
print(f'Acuracy of the dtree:{accuracy_score(y_test, pred)}')

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
clf = AdaBoostClassifier(n_estimators=1000, learning_rate=2.0, random_state=0)
clf = clf.fit(X_train, y_train)
pred = clf.predict(X_test)
print(f'Acuracy of the adaboost:{accuracy_score(y_test, pred)}')

In [ ]:
from sklearn import svm
clf  = svm.SVC()
clf = clf.fit(X_train, y_train)
pred = clf.predict(X_test)
print(f'Acuracy of the svm:{accuracy_score(y_test, pred)}')

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

import numpy as np 
import pandas as pd 
import pandas as pd 
import numpy as np 
import scipy as sp 
import sklearn
import random 
import time 

from sklearn import preprocessing, model_selection


from keras.models import Sequential 
from keras.layers import Dense 
from keras.utils import np_utils
from sklearn.preprocessing import LabelEncoder
from keras.utils.np_utils import to_categorical
from sklearn.utils import shuffle